USE [master]
GO
/****** Object:  Database [Pediatria]    Script Date: 02/07/2026 07:04:23 a. m. ******/
CREATE DATABASE [Pediatria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pediatria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Pediatria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pediatria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Pediatria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pediatria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pediatria]
GO
/****** Object:  Table [dbo].[Alergias]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alergias](
	[idAlergias] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[AlergiaMedicamentos] [bit] NULL,
	[Medicamentos] [text] NULL,
	[AlergiaAlimentos] [bit] NULL,
	[Alimentos] [text] NULL,
	[AlergiaFlora] [bit] NULL,
	[Flora] [text] NULL,
	[AlergiaRopa] [bit] NULL,
	[Ropa] [text] NULL,
 CONSTRAINT [PK_Alergias] PRIMARY KEY CLUSTERED 
(
	[idAlergias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alimentacion]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alimentacion](
	[idAlimentos] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[Pecho] [bit] NULL,
	[InicioPecho] [int] NULL,
	[TipoFormula] [nvarchar](50) NULL,
	[InicioFormula] [int] NULL,
	[Cereal] [bit] NULL,
	[InicioCereal] [int] NULL,
	[Frutas] [bit] NULL,
	[InicioFrutas] [int] NULL,
	[InicioCitricos] [int] NULL,
	[Verduras] [bit] NULL,
	[InicioVerduras] [int] NULL,
	[InicioTomate] [int] NULL,
 CONSTRAINT [PK_Alimentos] PRIMARY KEY CLUSTERED 
(
	[idAlimentos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AntecedentesMadre]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AntecedentesMadre](
	[idAntecedenteMadre] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[NombreMadre] [nvarchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[Ocupacion] [nvarchar](50) NULL,
	[Tabaquismo] [bit] NULL,
	[Alcoholismo] [bit] NULL,
	[Toxicomanias] [text] NULL,
	[Alergias] [text] NULL,
	[Diabetes] [bit] NULL,
	[Hipertension] [bit] NULL,
	[Dismorfologicos] [text] NULL,
	[Cancer] [bit] NULL,
	[TiposCancer] [text] NULL,
	[Otros] [text] NULL,
	[Medicamentos] [text] NULL,
	[EstadoActual] [nvarchar](50) NULL,
	[Embarazos] [int] NULL,
	[Partos] [int] NULL,
	[Abortos] [int] NULL,
	[Cesareas] [int] NULL,
 CONSTRAINT [PK_AntecedentesMadre] PRIMARY KEY CLUSTERED 
(
	[idAntecedenteMadre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AntecedentesPadre]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AntecedentesPadre](
	[idAntecedentePadre] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[NombrePadre] [nvarchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[Ocupacion] [nchar](10) NULL,
	[Tabaquismo] [bit] NULL,
	[Alcoholismo] [bit] NULL,
	[Toxicomanias] [text] NULL,
	[Alergias] [text] NULL,
	[Diabetes] [bit] NULL,
	[Hipertension] [bit] NULL,
	[Dismorfologicos] [text] NULL,
	[Cancer] [bit] NULL,
	[TiposCancer] [text] NULL,
	[Otros] [text] NULL,
	[Medicamentos] [text] NULL,
	[EstadoActual] [nvarchar](50) NULL,
 CONSTRAINT [PK_AntecedentesPadre] PRIMARY KEY CLUSTERED 
(
	[idAntecedentePadre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[idCita] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[NombrePaciente] [nvarchar](50) NULL,
	[Fecha] [date] NULL,
	[Hora] [time](7) NULL,
	[PrimeraVez] [bit] NULL,
	[Telefono] [nvarchar](13) NULL,
	[Afiliacion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cita] PRIMARY KEY CLUSTERED 
(
	[idCita] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consulta]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consulta](
	[idConsulta] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[FechaConsulta] [date] NULL,
	[Motivo] [text] NULL,
	[Responsabilidad] [nvarchar](50) NULL,
	[FrecCardiaca] [int] NULL,
	[FrecRespiratoria] [int] NULL,
	[TensionArterial] [varchar](8) NULL,
	[Temperatura] [float] NULL,
	[Peso] [float] NULL,
	[Talla] [float] NULL,
	[Diagnostico] [text] NULL,
 CONSTRAINT [PK_Consulta] PRIMARY KEY CLUSTERED 
(
	[idConsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuidadoNatal]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuidadoNatal](
	[idNatal] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[Hospital] [nvarchar](50) NULL,
	[TipoNacimiento] [nvarchar](50) NULL,
	[Multiple] [bit] NULL,
	[PesoNacimiento] [float] NULL,
	[TallaNacimiento] [float] NULL,
	[Indicaciones] [text] NULL,
 CONSTRAINT [PK_CuidadoNatal] PRIMARY KEY CLUSTERED 
(
	[idNatal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuidadoPosnatal]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuidadoPosnatal](
	[idPosnatal] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[NecesidadVigilancia] [bit] NULL,
	[Respirador] [bit] NULL,
	[Incubadora] [bit] NULL,
	[Fototerapias] [nvarchar](50) NULL,
	[Otros] [text] NULL,
 CONSTRAINT [PK_CuidadoPosnatal] PRIMARY KEY CLUSTERED 
(
	[idPosnatal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuidadoPrenatal]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuidadoPrenatal](
	[idPrenatal] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[Planeado] [bit] NULL,
	[MetodoFertilizacion] [nvarchar](50) NULL,
	[MesInicioControl] [int] NULL,
	[ResponsableDeControl] [nvarchar](50) NULL,
	[Enfermedades] [text] NULL,
 CONSTRAINT [PK_CuidadoPrenatal] PRIMARY KEY CLUSTERED 
(
	[idPrenatal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FechasNoHabiles]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FechasNoHabiles](
	[idFecha] [int] IDENTITY(1,1) NOT NULL,
	[FechaNoHabil] [date] NULL,
 CONSTRAINT [PK_FechasNoHabiles] PRIMARY KEY CLUSTERED 
(
	[idFecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[idPaciente] [int] IDENTITY(1,1) NOT NULL,
	[NombrePaciente] [nvarchar](50) NULL,
	[NombreMadre] [nvarchar](50) NULL,
	[NombrePadre] [nvarchar](50) NULL,
	[NombreTutor] [nvarchar](50) NULL,
	[Afiliacion] [nvarchar](50) NULL,
	[NumeroSeguro] [nvarchar](30) NULL,
	[Domicilio] [nvarchar](50) NULL,
	[CodigoPostal] [nvarchar](6) NULL,
	[FechaNacimiento] [date] NULL,
	[LugarNacimiento] [nvarchar](50) NULL,
	[TelefonoCasa] [nvarchar](10) NULL,
	[TelefonoCelular] [nvarchar](13) NULL,
	[Sexo] [nvarchar](10) NULL,
	[TipoSangre] [nvarchar](3) NULL,
	[Observaciones] [text] NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[idPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Psicomotor]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Psicomotor](
	[idPsicomotor] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[SostieneCabeza] [bit] NULL,
	[Sentado] [bit] NULL,
	[InicioSentado] [int] NULL,
	[Gateo] [bit] NULL,
	[InicioGateo] [int] NULL,
	[ControlEsfinter] [bit] NULL,
	[InicioControlEsfinter] [int] NULL,
	[Rodado] [bit] NULL,
	[InicioRodado] [int] NULL,
	[Bipedestacion] [bit] NULL,
	[InicioBipedestacion] [int] NULL,
	[Deambulacion] [bit] NULL,
	[InicioDeambulacion] [int] NULL,
 CONSTRAINT [PK_Psicomotor] PRIMARY KEY CLUSTERED 
(
	[idPsicomotor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Receta]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Receta](
	[idReceta] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NOT NULL,
	[idConsulta] [int] NULL,
	[FechaEmision] [datetime] NOT NULL,
	[Peso] [float] NULL,
	[Talla] [float] NULL,
	[Medicamento] [varchar](100) NULL,
	[Presentacion] [varchar](100) NULL,
	[Dosis] [varchar](100) NULL,
	[Tiempo] [varchar](100) NULL,
	[Via] [varchar](100) NULL,
	[DuracionTratamiento] [varchar](100) NULL,
	[Descripcion] [text] NULL,
 CONSTRAINT [PK_Receta] PRIMARY KEY CLUSTERED 
(
	[idReceta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Contrasena] [nvarchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[FechaRegistro] [date] NULL,
	[Sexo] [nvarchar](20) NULL,
	[TipoUsuario] [int] NULL,
	[Cedula] [nvarchar](20) NULL,
	[CorreoElectronico] [nvarchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacunas]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacunas](
	[idVacunacion] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[HepatitisA] [bit] NULL,
	[HepatitisB] [bit] NULL,
	[HiB] [bit] NULL,
	[Meningococo] [bit] NULL,
	[BPT] [bit] NULL,
	[Poliomielitis] [bit] NULL,
	[Rotavirus] [bit] NULL,
	[Neumococo] [bit] NULL,
	[InfluenzaEstacionaria] [bit] NULL,
	[MMR] [bit] NULL,
	[Varicela] [bit] NULL,
	[HPV] [bit] NULL,
	[Tuberculosis] [bit] NULL,
 CONSTRAINT [PK_Vacunas] PRIMARY KEY CLUSTERED 
(
	[idVacunacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alergias]  WITH CHECK ADD  CONSTRAINT [FK_Alergias_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[Alergias] CHECK CONSTRAINT [FK_Alergias_Paciente]
GO
ALTER TABLE [dbo].[Alimentacion]  WITH CHECK ADD  CONSTRAINT [FK_Alimentos_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[Alimentacion] CHECK CONSTRAINT [FK_Alimentos_Paciente]
GO
ALTER TABLE [dbo].[AntecedentesMadre]  WITH CHECK ADD  CONSTRAINT [FK_AntecedentesMadre_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[AntecedentesMadre] CHECK CONSTRAINT [FK_AntecedentesMadre_Paciente]
GO
ALTER TABLE [dbo].[AntecedentesPadre]  WITH CHECK ADD  CONSTRAINT [FK_AntecedentesPadre_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[AntecedentesPadre] CHECK CONSTRAINT [FK_AntecedentesPadre_Paciente]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_Paciente]
GO
ALTER TABLE [dbo].[Consulta]  WITH CHECK ADD  CONSTRAINT [FK_Consulta_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[Consulta] CHECK CONSTRAINT [FK_Consulta_Paciente]
GO
ALTER TABLE [dbo].[CuidadoNatal]  WITH CHECK ADD  CONSTRAINT [FK_CuidadoNatal_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[CuidadoNatal] CHECK CONSTRAINT [FK_CuidadoNatal_Paciente]
GO
ALTER TABLE [dbo].[CuidadoPosnatal]  WITH CHECK ADD  CONSTRAINT [FK_CuidadoPosnatal_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[CuidadoPosnatal] CHECK CONSTRAINT [FK_CuidadoPosnatal_Paciente]
GO
ALTER TABLE [dbo].[CuidadoPrenatal]  WITH CHECK ADD  CONSTRAINT [FK_CuidadoPrenatal_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[CuidadoPrenatal] CHECK CONSTRAINT [FK_CuidadoPrenatal_Paciente]
GO
ALTER TABLE [dbo].[Psicomotor]  WITH CHECK ADD  CONSTRAINT [FK_Psicomotor_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[Psicomotor] CHECK CONSTRAINT [FK_Psicomotor_Paciente]
GO
ALTER TABLE [dbo].[Receta]  WITH CHECK ADD  CONSTRAINT [FK_Receta_Consulta] FOREIGN KEY([idConsulta])
REFERENCES [dbo].[Consulta] ([idConsulta])
GO
ALTER TABLE [dbo].[Receta] CHECK CONSTRAINT [FK_Receta_Consulta]
GO
ALTER TABLE [dbo].[Receta]  WITH CHECK ADD  CONSTRAINT [FK_Receta_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[Receta] CHECK CONSTRAINT [FK_Receta_Paciente]
GO
ALTER TABLE [dbo].[Vacunas]  WITH CHECK ADD  CONSTRAINT [FK_Vacunas_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[Vacunas] CHECK CONSTRAINT [FK_Vacunas_Paciente]
GO
/****** Object:  StoredProcedure [dbo].[AltaPaciente]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AltaPaciente] (
	-- Add the parameters for the stored procedure here
	@nombre nvarchar(50), 
	@nombreMadre nvarchar(50),
	@nombrePadre nvarchar(50),
	@nombreTutor nvarchar(50),
	@afiliacion nvarchar(50),
	@numeroSeguro nvarchar(30),
	@domicilio nvarchar(50),
	@codigoPostal nvarchar(6),
	@fechaNac date,
	@lugarNac nvarchar(50),
	@telefonoCasa nvarchar(10),
	@telefonoCel nvarchar(13),
	@sexo nvarchar(10),
	@tipoSangre nvarchar(3),
	@observaciones text,
	
	@alergiaMedicamentos bit, 
	@medicamentos text,
	@alergiaAlimentos bit,
	@alimentos text,
	@alergiaFlora bit,
	@flora text,
	@alergiaRopa bit,
	@ropa text,
	
	@pecho bit,
	@inicioPecho int,
	@tipoFormula nvarchar(50),
	@inicioFormula int,
	@cereal bit,
	@inicioCereal int,
	@frutas bit,
	@inicioFrutas int,
	@inicioCitricos int,
	@verduras bit,
	@inicioVerduras int,
	@inicioTomate int,
	
	@fechaNacMadre date,
	@ocupacionMadre nvarchar(50),
	@tabaquismoMadre bit,
	@alcoholismoMadre bit,
	@toxicomaniasMadre text,
	@alergiasMadre text,
	@diabetesMadre bit,
	@hipertensionMadre bit,
	@dismorfologicosMadre text,
	@cancerMadre bit,
	@tiposCancerMadre text,
	@otrosMadre text,
	@medicamentosMadre text,
	@estadoActualMadre nvarchar(50),
	@embarazos int,
	@partos int,
	@abortos int,
	@cesareas int,
	
	@fechaNacPadre date,
	@ocupacionPadre nvarchar(50),
	@tabaquismoPadre bit,
	@alcoholismoPadre bit,
	@toxicomaniasPadre text,
	@alergiasPadre text,
	@diabetesPadre bit,
	@hipertensionPadre bit,
	@dismorfologicosPadre text,
	@cancerPadre bit,
	@tiposCancerPadre text,
	@otrosPadre text,
	@medicamentosPadre text,
	@estadoActualPadre nvarchar(50),
	
	@planeado bit,
	@metodoFertilizacion nvarchar(50),
	@mesInicioControl int,
	@responsable nvarchar(50),
	@enfermedades text,
	
	@hospital nvarchar(50),
	@tipoNacimiento nvarchar(50),
	@multiple bit,
	@pesoNac float,
	@tallaNac float,
	@indicaciones text,
	
	@necesidadVigilancia bit,
	@respirador bit,
	@incubadora bit,
	@fototerapia nvarchar(50),
	@otros text,
	
	@sostieneCabeza bit,
	@sentado bit,
	@inicioSentado int,
	@gateo bit,
	@inicioGateo int,
	@controlEsfinter bit,
	@inicioControlEsfinter int,
	@rodado bit,
	@inicioRodado int,
	@bipedestacion bit,
	@inicioBipedestacion int,
	@deambulacion bit,
	@inicioDeambulacion int,
	
	@hepatitisA bit,
	@hepatitisB bit,
	@hib bit,
	@meningococo bit,
	@bpt bit,
	@poliomielitis bit,
	@rotavirus bit,
	@neumococo bit,
	@influenza bit,
	@mmr bit,
	@varicela bit,
	@hpv bit,
	@tuberculosis bit)
	
AS
BEGIN
	DECLARE @idPaciente int;
	
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	-- SET NOCOUNT ON;

    INSERT INTO Paciente VALUES (@nombre, @nombreMadre, @nombrePadre, @nombreTutor, @afiliacion, @numeroSeguro, @domicilio, @codigoPostal, @fechaNac, @lugarNac, @telefonoCasa, @telefonoCel, @sexo, @tipoSangre, @observaciones);
    
    SELECT @idPaciente = MAX(idPaciente) FROM Paciente;
    
    INSERT INTO Alergias VALUES (@idPaciente, @alergiaMedicamentos, @medicamentos, @alergiaAlimentos, @alimentos, @alergiaFlora, @flora, @alergiaRopa, @ropa);
    INSERT INTO Alimentacion VALUES (@idPaciente, @pecho, @inicioPecho, @tipoFormula, @inicioFormula, @cereal, @inicioCereal, @frutas, @inicioFrutas, @inicioCitricos, @verduras, @inicioVerduras, @inicioTomate);
    INSERT INTO AntecedentesMadre VALUES (@idPaciente, @nombreMadre, @fechaNacMadre, @ocupacionMadre, @tabaquismoMadre, @alcoholismoMadre, @toxicomaniasMadre, @alergiasMadre, @diabetesMadre, @hipertensionMadre, @dismorfologicosMadre, @cancerMadre, @tiposCancerMadre, @otrosMadre, @medicamentosMadre, @estadoActualMadre, @embarazos, @partos, @abortos, @cesareas);
    INSERT INTO AntecedentesPadre VALUES (@idPaciente, @nombrePadre, @fechaNacPadre, @ocupacionPadre, @tabaquismoPadre, @alcoholismoPadre, @toxicomaniasPadre, @alergiasPadre, @diabetesPadre, @hipertensionPadre, @dismorfologicosPadre, @cancerPadre, @tiposCancerPadre, @otrosPadre, @medicamentosPadre, @estadoActualPadre);
    INSERT INTO CuidadoPrenatal VALUES (@idPaciente, @planeado, @metodoFertilizacion, @mesInicioControl, @responsable, @enfermedades);
    INSERT INTO CuidadoNatal VALUES (@idPaciente, @hospital, @tipoNacimiento, @multiple, @pesoNac, @tallaNac, @indicaciones);
    INSERT INTO CuidadoPosnatal VALUES (@idPaciente, @necesidadVigilancia, @respirador, @incubadora, @fototerapia, @otros);
    INSERT INTO Psicomotor VALUES (@idPaciente, @sostieneCabeza, @sentado, @inicioSentado, @gateo, @inicioGateo, @controlEsfinter, @inicioControlEsfinter, @rodado, @inicioRodado, @bipedestacion, @inicioBipedestacion, @deambulacion, @inicioDeambulacion);
    INSERT INTO Vacunas VALUES (@idPaciente, @hepatitisA, @hepatitisB, @hib, @meningococo, @bpt, @poliomielitis, @rotavirus, @neumococo, @influenza, @mmr, @varicela, @hpv, @tuberculosis);
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarPaciente]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[EliminarPaciente] (@idPaciente int)
AS
BEGIN
	DELETE FROM Alergias WHERE idPaciente = @idPaciente;
	DELETE FROM Alimentacion WHERE idPaciente = @idPaciente;
	DELETE FROM AntecedentesMadre WHERE idPaciente = @idPaciente;
	DELETE FROM AntecedentesPadre WHERE idPaciente = @idPaciente;
	DELETE FROM CuidadoPrenatal WHERE idPaciente = @idPaciente;
	DELETE FROM CuidadoNatal WHERE idPaciente = @idPaciente;
	DELETE FROM CuidadoPosnatal WHERE idPaciente = @idPaciente;
	DELETE FROM Psicomotor WHERE idPaciente = @idPaciente;
	DELETE FROM Vacunas WHERE idPaciente = @idPaciente;
	DELETE FROM Paciente WHERE idPaciente = @idPaciente;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarFechas]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarFechas] (@FechaInicio date, @FechaFinal date)

AS BEGIN
	WHILE @FechaInicio <= @FechaFinal
	BEGIN
		/* Si el día cae en domingo no insertara y pasa al siguiente dia*/
		IF DATEPART(DW, @FechaInicio) = 1
			SET @FechaInicio = DATEADD(day,1,@FechaInicio)
		ELSE
			BEGIN
				INSERT INTO FechasNoHabiles VALUES (@FechaInicio)
				SET @FechaInicio = DATEADD(day,1,@FechaInicio)
			END
	END
END
GO
/****** Object:  StoredProcedure [dbo].[ModificaPaciente]    Script Date: 02/07/2026 07:04:23 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificaPaciente] (
	-- Add the parameters for the stored procedure here
	@idPaciente int,
	@nombre nvarchar(50), 
	@nombreMadre nvarchar(50),
	@nombrePadre nvarchar(50),
	@nombreTutor nvarchar(50),
	@afiliacion nvarchar(50),
	@numeroSeguro nvarchar(30),
	@domicilio nvarchar(50),
	@codigoPostal nvarchar(6),
	@fechaNac date,
	@lugarNac nvarchar(50),
	@telefonoCasa nvarchar(10),
	@telefonoCel nvarchar(13),
	@sexo nvarchar(10),
	@tipoSangre nvarchar(3),
	@observaciones text,
	
	@alergiaMedicamentos bit, 
	@medicamentos text,
	@alergiaAlimentos bit,
	@alimentos text,
	@alergiaFlora bit,
	@flora text,
	@alergiaRopa bit,
	@ropa text,
	
	@pecho bit,
	@inicioPecho int,
	@tipoFormula nvarchar(50),
	@inicioFormula int,
	@cereal bit,
	@inicioCereal int,
	@frutas bit,
	@inicioFrutas int,
	@inicioCitricos int,
	@verduras bit,
	@inicioVerduras int,
	@inicioTomate int,
	
	@fechaNacMadre date,
	@ocupacionMadre nvarchar(50),
	@tabaquismoMadre bit,
	@alcoholismoMadre bit,
	@toxicomaniasMadre text,
	@alergiasMadre text,
	@diabetesMadre bit,
	@hipertensionMadre bit,
	@dismorfologicosMadre text,
	@cancerMadre bit,
	@tiposCancerMadre text,
	@otrosMadre text,
	@medicamentosMadre text,
	@estadoActualMadre nvarchar(50),
	@embarazos int,
	@partos int,
	@abortos int,
	@cesareas int,
	
	@fechaNacPadre date,
	@ocupacionPadre nvarchar(50),
	@tabaquismoPadre bit,
	@alcoholismoPadre bit,
	@toxicomaniasPadre text,
	@alergiasPadre text,
	@diabetesPadre bit,
	@hipertensionPadre bit,
	@dismorfologicosPadre text,
	@cancerPadre bit,
	@tiposCancerPadre text,
	@otrosPadre text,
	@medicamentosPadre text,
	@estadoActualPadre nvarchar(50),
	
	@planeado bit,
	@metodoFertilizacion nvarchar(50),
	@mesInicioControl int,
	@responsable nvarchar(50),
	@enfermedades text,
	
	@hospital nvarchar(50),
	@tipoNacimiento nvarchar(50),
	@multiple bit,
	@pesoNac float,
	@tallaNac float,
	@indicaciones text,
	
	@necesidadVigilancia bit,
	@respirador bit,
	@incubadora bit,
	@fototerapia nvarchar(50),
	@otros text,
	
	@sostieneCabeza bit,
	@sentado bit,
	@inicioSentado int,
	@gateo bit,
	@inicioGateo int,
	@controlEsfinter bit,
	@inicioControlEsfinter int,
	@rodado bit,
	@inicioRodado int,
	@bipedestacion bit,
	@inicioBipedestacion int,
	@deambulacion bit,
	@inicioDeambulacion int,
	
	@hepatitisA bit,
	@hepatitisB bit,
	@hib bit,
	@meningococo bit,
	@bpt bit,
	@poliomielitis bit,
	@rotavirus bit,
	@neumococo bit,
	@influenza bit,
	@mmr bit,
	@varicela bit,
	@hpv bit,
	@tuberculosis bit)
AS
BEGIN
	UPDATE Paciente SET NombrePaciente = @nombre, NombreMadre = @nombreMadre, NombrePadre = @nombrePadre, NombreTutor = @nombreTutor, Afiliacion = @afiliacion, NumeroSeguro = @numeroSeguro, Domicilio = @domicilio, CodigoPostal = @codigoPostal, FechaNacimiento = @fechaNac, LugarNacimiento = @lugarNac, TelefonoCasa = @telefonoCasa, TelefonoCelular = @telefonoCel, Sexo = @sexo, TipoSangre = @tipoSangre, Observaciones = @observaciones WHERE idPaciente = @idPaciente;
	UPDATE Alergias SET AlergiaMedicamentos = @alergiaMedicamentos, Medicamentos = @medicamentos, AlergiaAlimentos = @alergiaAlimentos, Alimentos = @alimentos, AlergiaFlora = @alergiaFlora, Flora = @flora, AlergiaRopa = @alergiaRopa, Ropa = @ropa WHERE idPaciente = @idPaciente;
	UPDATE Alimentacion SET Pecho = @pecho, InicioPecho = @inicioPecho, TipoFormula = @tipoFormula, InicioFormula = @inicioFormula, Cereal = @cereal, InicioCereal = @inicioCereal, Frutas = @frutas, InicioFrutas = @inicioFrutas, InicioCitricos = @inicioCitricos, Verduras = @verduras, InicioVerduras = @inicioVerduras, InicioTomate = @inicioTomate WHERE idPaciente = @idPaciente;
	UPDATE AntecedentesMadre SET NombreMadre = @nombreMadre, FechaNacimiento = @fechaNacMadre, Ocupacion = @ocupacionMadre, Tabaquismo = @tabaquismoMadre, Alcoholismo = @alcoholismoMadre, Toxicomanias = @toxicomaniasMadre, Alergias = @alergiasMadre, Diabetes = @diabetesMadre, Hipertension = @hipertensionMadre, Dismorfologicos = @dismorfologicosMadre, Cancer = @cancerMadre, TiposCancer = @tiposCancerMadre, Otros = @otrosMadre, Medicamentos = @medicamentosMadre, EstadoActual = @estadoActualMadre, Embarazos = @embarazos, Partos = @partos, Abortos = @abortos, Cesareas = @cesareas WHERE idPaciente = @idPaciente;
	UPDATE AntecedentesPadre SET NombrePadre = @nombrePadre, FechaNacimiento = @fechaNacPadre, Ocupacion = @ocupacionPadre, Tabaquismo = @tabaquismoPadre, Alcoholismo = @alcoholismoPadre, Toxicomanias = @toxicomaniasPadre, Alergias = @alergiasPadre, Diabetes = @diabetesPadre, Hipertension = @hipertensionPadre, Dismorfologicos = @dismorfologicosPadre, Cancer = @cancerPadre, TiposCancer = @tiposCancerPadre, Otros = @otrosPadre, Medicamentos = @medicamentosPadre, EstadoActual = @estadoActualPadre WHERE idPaciente = @idPaciente;
	UPDATE CuidadoPrenatal SET Planeado = @planeado, MetodoFertilizacion = @metodoFertilizacion, MesInicioControl = @mesInicioControl, ResponsableDeControl = @responsable, Enfermedades = @enfermedades WHERE idPaciente = @idPaciente;
	UPDATE CuidadoNatal SET Hospital = @hospital, TipoNacimiento = @tipoNacimiento, Multiple = @multiple, PesoNacimiento = @pesoNac, TallaNacimiento = @tallaNac, Indicaciones = @indicaciones WHERE idPaciente = @idPaciente;
	UPDATE CuidadoPosnatal SET NecesidadVigilancia = @necesidadVigilancia, Respirador = @respirador, Incubadora = @incubadora, Fototerapias = @fototerapia, Otros = @otros WHERE idPaciente = @idPaciente;
	UPDATE Psicomotor SET SostieneCabeza = @sostieneCabeza, Sentado = @sentado, InicioSentado = @inicioSentado, Gateo = @gateo, InicioGateo = @inicioGateo, ControlEsfinter = @controlEsfinter, InicioControlEsfinter = @inicioControlEsfinter, Rodado = @rodado, InicioRodado = @inicioRodado, Bipedestacion = @bipedestacion, InicioBipedestacion = @inicioBipedestacion, Deambulacion = @deambulacion, InicioDeambulacion = @inicioDeambulacion WHERE idPaciente = @idPaciente;
	UPDATE Vacunas SET HepatitisA = @hepatitisA, HepatitisB = @hepatitisB, HIB = @hib, Meningococo = @meningococo, BPT = @bpt, Poliomielitis = @poliomielitis, Rotavirus = @rotavirus, Neumococo = @neumococo, InfluenzaEstacionaria = @influenza, MMR = @mmr, Varicela = @varicela, HPV = @hpv, Tuberculosis = @tuberculosis WHERE idPaciente = @idPaciente;
END
GO
USE [master]
GO
