USE [Pediatria]
GO
/****** Object:  Table [dbo].[FechasNoHabiles]    Script Date: 04/23/2014 15:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FechasNoHabiles](
	[idFecha] [int] IDENTITY(1,1) NOT NULL,
	[FechaNoHabil] [date] NULL,
 CONSTRAINT [PK_FechasNoHabiles] PRIMARY KEY CLUSTERED 
(
	[idFecha] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 04/23/2014 15:52:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[idCita] [int] IDENTITY(1,1) NOT NULL,
	[NombrePaciente] [nvarchar](50) NULL,
	[Fecha] [date] NULL,
	[Hora] [time](7) NULL,
	[PrimeraVez] [bit] NULL,
	[Telefono] [nvarchar](13) NULL,
	[Afiliacion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cita] PRIMARY KEY CLUSTERED 
(
	[idCita] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[InsertarFechas]    Script Date: 04/23/2014 15:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarFechas] (@FechaInicio date, @FechaFinal date)

AS BEGIN
	WHILE @FechaInicio <= @FechaFinal
	BEGIN
		/* Si el día cae en domingo no insertara y pasa al siguiente dia*/
		IF DATEPART(DW, @FechaInicio) = 1
			SET @FechaInicio = DATEADD(day,1,@FechaInicio)
		ELSE
			BEGIN
				INSERT INTO FechasNoHabiles VALUES (@FechaInicio)
				SET @FechaInicio = DATEADD(day,1,@FechaInicio)
			END
	END
END
GO
