USE [Pediatria]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 05/13/2014 02:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paciente](
	[idPaciente] [int] IDENTITY(1,1) NOT NULL,
	[NombrePaciente] [nvarchar](50) NULL,
	[NombreMadre] [nvarchar](50) NULL,
	[NombrePadre] [nvarchar](50) NULL,
	[NombreTutor] [nvarchar](50) NULL,
	[Afiliacion] [nvarchar](50) NULL,
	[NumeroSeguro] [nchar](10) NULL,
	[Domicilio] [nvarchar](50) NULL,
	[CodigoPostal] [nvarchar](5) NULL,
	[FechaNacimiento] [date] NULL,
	[LugarNacimiento] [nvarchar](50) NULL,
	[TelefonoCasa] [nvarchar](10) NULL,
	[TelefonoCelular] [nvarchar](13) NULL,
	[Sexo] [nvarchar](10) NULL,
	[TipoSangre] [nvarchar](3) NULL,
	[Alergias] [text] NULL,
	[Fotografia] [image] NULL,
	[Observaciones] [text] NULL,
 CONSTRAINT [PK_Paciente] PRIMARY KEY CLUSTERED 
(
	[idPaciente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacunas]    Script Date: 05/13/2014 02:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacunas](
	[idVacunacion] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[HepatitisA] [bit] NULL,
	[HepatitisB] [bit] NULL,
	[HiB] [bit] NULL,
	[Meningococo] [bit] NULL,
	[BPT] [bit] NULL,
	[Poliomielitis] [bit] NULL,
	[Rotavirus] [bit] NULL,
	[Neumococo] [bit] NULL,
	[InfluenzaEstacionaria] [bit] NULL,
	[MMR] [bit] NULL,
	[Varicela] [bit] NULL,
	[HPV] [bit] NULL,
	[Tuberculosis] [bit] NULL,
 CONSTRAINT [PK_Vacunas] PRIMARY KEY CLUSTERED 
(
	[idVacunacion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Psicomotor]    Script Date: 05/13/2014 02:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Psicomotor](
	[idPsicomotor] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[SostieneCabeza] [bit] NULL,
	[Sentado] [bit] NULL,
	[InicioSentado] [int] NULL,
	[Gateo] [bit] NULL,
	[InicioGateo] [int] NULL,
	[ControlEsfinter] [bit] NULL,
	[InicioControlEsfinter] [int] NULL,
	[Rodado] [bit] NULL,
	[InicioRodado] [int] NULL,
	[Bipedestacion] [bit] NULL,
	[InicioBipedestacion] [int] NULL,
	[Deambulacion] [bit] NULL,
	[InicioDeambulacion] [int] NULL,
 CONSTRAINT [PK_Psicomotor] PRIMARY KEY CLUSTERED 
(
	[idPsicomotor] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuidadoPrenatal]    Script Date: 05/13/2014 02:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuidadoPrenatal](
	[idPrenatal] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[Planeado] [bit] NULL,
	[MetodoFertilizacion] [nvarchar](50) NULL,
	[MesInicioControl] [int] NULL,
	[ResponsableDeControl] [nvarchar](50) NULL,
	[Enfermedades] [text] NULL,
 CONSTRAINT [PK_CuidadoPrenatal] PRIMARY KEY CLUSTERED 
(
	[idPrenatal] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuidadoPosnatal]    Script Date: 05/13/2014 02:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuidadoPosnatal](
	[idPosnatal] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[NecesidadVigilancia] [bit] NULL,
	[Respirador] [bit] NULL,
	[Incubadora] [bit] NULL,
	[Fototerapias] [nvarchar](50) NULL,
	[Otros] [text] NULL,
 CONSTRAINT [PK_CuidadoPosnatal] PRIMARY KEY CLUSTERED 
(
	[idPosnatal] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CuidadoNatal]    Script Date: 05/13/2014 02:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CuidadoNatal](
	[idNatal] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[Hospital] [nvarchar](50) NULL,
	[TipoNacimiento] [nvarchar](50) NULL,
	[Multimple] [bit] NULL,
	[PesoNacimiento] [float] NULL,
	[TallaNacimiento] [float] NULL,
	[Indicaciones] [text] NULL,
 CONSTRAINT [PK_CuidadoNatal] PRIMARY KEY CLUSTERED 
(
	[idNatal] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AntecedentesPadre]    Script Date: 05/13/2014 02:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AntecedentesPadre](
	[idAntecedentePadre] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[NombrePadre] [nvarchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[Ocupacion] [nchar](10) NULL,
	[Tabaquismo] [bit] NULL,
	[Alcoholismo] [bit] NULL,
	[Toxicomanias] [text] NULL,
	[Alergias] [text] NULL,
	[Diabetes] [bit] NULL,
	[Hipertension] [bit] NULL,
	[Dismorfologicos] [text] NULL,
	[Cancer] [bit] NULL,
	[TiposCancer] [text] NULL,
	[Otros] [text] NULL,
	[Medicamientos] [text] NULL,
	[EstadoActual] [nvarchar](50) NULL,
 CONSTRAINT [PK_AntecedentesPadre] PRIMARY KEY CLUSTERED 
(
	[idAntecedentePadre] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AntecedentesMadre]    Script Date: 05/13/2014 02:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AntecedentesMadre](
	[idAntecedenteMadre] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[NombreMadre] [nvarchar](50) NULL,
	[FechaNacimiento] [date] NULL,
	[Ocupacion] [nvarchar](50) NULL,
	[Tabaquismo] [bit] NULL,
	[Alcoholismo] [bit] NULL,
	[Toxicomanias] [text] NULL,
	[Alergias] [text] NULL,
	[Diabetes] [bit] NULL,
	[Hipertension] [bit] NULL,
	[Dismorfologicos] [text] NULL,
	[Cancer] [bit] NULL,
	[TiposCancer] [text] NULL,
	[Otros] [text] NULL,
	[EstadoActual] [nvarchar](50) NULL,
	[Medicamientos] [text] NULL,
	[Embarazos] [int] NULL,
	[Partos] [int] NULL,
	[Abortos] [int] NULL,
	[Cesareas] [int] NULL,
 CONSTRAINT [PK_AntecedentesMadre] PRIMARY KEY CLUSTERED 
(
	[idAntecedenteMadre] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alimentacion]    Script Date: 05/13/2014 02:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alimentacion](
	[idAlimentos] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[Pecho] [bit] NULL,
	[InicioPecho] [int] NULL,
	[TipoFormula] [nvarchar](50) NULL,
	[InicioFormula] [int] NULL,
	[Cereal] [bit] NULL,
	[InicioCereal] [int] NULL,
	[Frutas] [bit] NULL,
	[InicioFrutas] [int] NULL,
	[InicioCitricos] [int] NULL,
	[Verduras] [bit] NULL,
	[InicioVerduras] [int] NULL,
	[InicioTomate] [int] NULL,
 CONSTRAINT [PK_Alimentos] PRIMARY KEY CLUSTERED 
(
	[idAlimentos] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alergias]    Script Date: 05/13/2014 02:32:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alergias](
	[idAlergias] [int] IDENTITY(1,1) NOT NULL,
	[idPaciente] [int] NULL,
	[AlergiaMedicamentos] [bit] NULL,
	[Medicamentos] [text] NULL,
	[AlergiaAlimentos] [bit] NULL,
	[Alimentos] [text] NULL,
	[AlergiaFlora] [bit] NULL,
	[Flora] [text] NULL,
	[AlergiaRopa] [bit] NULL,
	[Ropa] [text] NULL,
 CONSTRAINT [PK_Alergias] PRIMARY KEY CLUSTERED 
(
	[idAlergias] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_Alergias_Paciente]    Script Date: 05/13/2014 02:32:57 ******/
ALTER TABLE [dbo].[Alergias]  WITH CHECK ADD  CONSTRAINT [FK_Alergias_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[Alergias] CHECK CONSTRAINT [FK_Alergias_Paciente]
GO
/****** Object:  ForeignKey [FK_Alimentos_Paciente]    Script Date: 05/13/2014 02:32:57 ******/
ALTER TABLE [dbo].[Alimentacion]  WITH CHECK ADD  CONSTRAINT [FK_Alimentos_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[Alimentacion] CHECK CONSTRAINT [FK_Alimentos_Paciente]
GO
/****** Object:  ForeignKey [FK_AntecedentesMadre_Paciente]    Script Date: 05/13/2014 02:32:57 ******/
ALTER TABLE [dbo].[AntecedentesMadre]  WITH CHECK ADD  CONSTRAINT [FK_AntecedentesMadre_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[AntecedentesMadre] CHECK CONSTRAINT [FK_AntecedentesMadre_Paciente]
GO
/****** Object:  ForeignKey [FK_AntecedentesPadre_Paciente]    Script Date: 05/13/2014 02:32:57 ******/
ALTER TABLE [dbo].[AntecedentesPadre]  WITH CHECK ADD  CONSTRAINT [FK_AntecedentesPadre_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[AntecedentesPadre] CHECK CONSTRAINT [FK_AntecedentesPadre_Paciente]
GO
/****** Object:  ForeignKey [FK_CuidadoNatal_Paciente]    Script Date: 05/13/2014 02:32:57 ******/
ALTER TABLE [dbo].[CuidadoNatal]  WITH CHECK ADD  CONSTRAINT [FK_CuidadoNatal_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[CuidadoNatal] CHECK CONSTRAINT [FK_CuidadoNatal_Paciente]
GO
/****** Object:  ForeignKey [FK_CuidadoPosnatal_Paciente]    Script Date: 05/13/2014 02:32:57 ******/
ALTER TABLE [dbo].[CuidadoPosnatal]  WITH CHECK ADD  CONSTRAINT [FK_CuidadoPosnatal_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[CuidadoPosnatal] CHECK CONSTRAINT [FK_CuidadoPosnatal_Paciente]
GO
/****** Object:  ForeignKey [FK_CuidadoPrenatal_Paciente]    Script Date: 05/13/2014 02:32:57 ******/
ALTER TABLE [dbo].[CuidadoPrenatal]  WITH CHECK ADD  CONSTRAINT [FK_CuidadoPrenatal_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[CuidadoPrenatal] CHECK CONSTRAINT [FK_CuidadoPrenatal_Paciente]
GO
/****** Object:  ForeignKey [FK_Psicomotor_Paciente]    Script Date: 05/13/2014 02:32:57 ******/
ALTER TABLE [dbo].[Psicomotor]  WITH CHECK ADD  CONSTRAINT [FK_Psicomotor_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[Psicomotor] CHECK CONSTRAINT [FK_Psicomotor_Paciente]
GO
/****** Object:  ForeignKey [FK_Vacunas_Paciente]    Script Date: 05/13/2014 02:32:57 ******/
ALTER TABLE [dbo].[Vacunas]  WITH CHECK ADD  CONSTRAINT [FK_Vacunas_Paciente] FOREIGN KEY([idPaciente])
REFERENCES [dbo].[Paciente] ([idPaciente])
GO
ALTER TABLE [dbo].[Vacunas] CHECK CONSTRAINT [FK_Vacunas_Paciente]
GO
